<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= room.subject %> | Room
  </title>
  <script>

  window.ROOM_ID = '<%= room.id %>';
  const data = '<%=JSON.stringify(attendees)%>'.replace(/\&\#34\;/gi, '"');
  const room = {
    id: window.ROOM_ID,
    attendees: new Set(JSON.parse(data)),
    messages: []
  }
  </script>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #attendees {
      display: flex;
      flex-wrap: wrap;
    }

    #attendees div {
      margin: 0px 15px;
    }

    #messages {
      border: 1px solid #000;
      padding: 8px;
      height: 600px;
    }

    .container div {
      max-width: 600px;
      margin: auto;
    }

    textarea {
      width: 100%;
      padding: 1rem;
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <h4>
        Room <%= room.subject %> | messages
      </h4>
    </div>
    <div id="attendees"></div>
    <div id="messages"></div>

    <div>
      <textarea name="message" id="message" rows="3"></textarea>
      <input type="button" id="sendMessage" value="send" />
    </div>
    </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/room.js"></script>
</body>

</html>
